/* Tamaño letra principal, family font y color */

$BodyFontSize: 1rem;
$BodyFontStyle: 'Cairo', sans-serif;
$BodyFontColour: #FFFFFF;
$BodyBackgroundColor: #131111;


/* Color letras H1 y Nav */

$NavH1Color: rgb(206, 186, 35);

/* Color Navegacion */

$HeaderColor: #314652;





